body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

button {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

h1 {
  width: 956px;
  margin: 128px 319px 30px 125px;
  font-size: 60px;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #121212;
}

h2 {
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.9px;
}

.presentation {
  width: 1150px;
  height: 500px;
  margin: 0 125px 150px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  background-image: url(../resources/presentation_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.presentation__text {
  width: 430px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #fff;
}

.about {
  width: 1048px;
  margin-left: 125px;
}

.about__title {
  margin-bottom: 30px;
  color: #121212;
}

.about__text {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 136%;
  letter-spacing: -1.3px;
  color: #121212;
}

.about__btn {
  margin-bottom: 150px;
  width: 255px;
  height: 67px;
  padding: 23px 40px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.6px;
  background-color: #ad1818;
  color: #ffffff;
  cursor: pointer;
}

.projects {
  width: 1150px;
  margin: auto 125px;
}

.projects__title {
  margin-bottom: 30px;
  color: #121212;
}
.projects__item {
  width: 100%;
  margin-bottom: 90px;
}

.projects__img {
  margin-bottom: 14px;
  width: 100%;
  height: 450px;
}

.projects__name {
  margin-bottom: 15px;
  color: #121212;
}

.projects__more {
  display: block;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.3px;
  text-decoration: none;
  color: #ad1818;
}

.projects__watch-button {
  height: 153px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 150px;
  border: 1px solid var(--Accent, #ad1818);
  border-radius: 5px;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  letter-spacing: -0.9px;
  text-decoration: none;
  color: #ad1818;
}

.projects__watch-button:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services {
  padding: 150px 128px 0px 128px;
  background-color: #121212;
  color: #ffffff;
}

.services__title {
  margin-bottom: 35px;
}

.services__item {
  margin-bottom: 60px;
}

.services__img {
  margin-bottom: 13px;
}

.services__name {
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: left;
}

.services__item:nth-last-child(1) {
  margin-bottom: 150px;
  display: inline-block;
}
