/* ОБЩАЯ ЧАСТЬ */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
a,
button {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.54px;
}

h3 {
  font-size: 30px;
}

.full-width-btn,
h3,
.full-img__text,
.contact__link {
  letter-spacing: -0.9px;
}

.about__info {
  letter-spacing: -1.35px;
}

.main__title {
  letter-spacing: -1.8px;
}

.we__text,
.about__btn,
.project__more,
.footer__title {
  letter-spacing: -0.6px;
}

/* ХЕДЕР */

.nav {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  padding: 33px 125px 0;
}

.links__item,
.footer__link {
  margin-left: 57px;
  font-size: 18px;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.54px;
}

.links__item:first-child {
  margin-left: 0;
}

.links__item:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* ГЛАВНАЯ ЧАСТЬ */

.main {
  padding: 67px 0 0 125px;
}

.main__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.main__we {
  width: 1150px;
  height: 500px;
  background-image: url(../resources/presentation_img.jpg);
}

.we {
  position: relative;
}

.we__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: normal;
  color: #fff;
}

/* О НАС */

.about {
  padding: 150px 0 0 125px;
}

.about__title {
  margin-bottom: 30px;
  color: #121212;
}

.about__info {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: normal;
  color: var(--Text, #121212);
}

.about__btn {
  box-sizing: border-box;
  display: inline-flex;
  padding: 20px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--Accent, #ad1818);
  color: #ffffff;
  line-height: normal;
  font-size: 20px;
  cursor: pointer;
}

/* ПРОЕКТЫ */

.projects {
  width: 1150px;
  padding: 150px 0 0 125px;
}

.projects__title {
  margin-bottom: 30px;
  color: #121212;
}

.projects__item {
  margin-bottom: 90px;
}

.project {
  width: 1150px;
}

.project__img {
  width: 100%;
  margin-bottom: 12px;
}

.project__name {
  margin-bottom: 15px;
  color: #121212;
}

.project__more {
  font-size: 20px;
  line-height: normal;
  color: #ad1818;
  text-decoration: none;
}

.projects__all {
  margin-bottom: 148px;
}

.full-width-btn {
  padding: 56px 0px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--Accent, #ad1818);
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  line-height: normal;
  color: var(--Accent, #ad1818);
  text-decoration: none;
}

.full-width-btn:hover {
  background: var(--Accent, #ad1818);
  color: #fff;
}

/* УСЛУГИ */

.services {
  padding: 151px 0 150px 125px;
  min-width: 1400px;
  background-color: #121212;
}

.services__title {
  margin-left: 2px;
  margin-bottom: 35px;
  color: #ffffff;
}

.services__item {
  margin-bottom: 60px;
}

.services__item:nth-last-child(1) {
  margin-bottom: 0px;
}

.service__img {
  margin-bottom: 12px;
}

.sevice__name {
  margin-left: 4px;
  color: #ffffff;
}

/* БОЛЬШОЕ ИЗОБРАЖЕНИЕ */

.full-img {
  position: relative;
  width: 100%;
  height: 717px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url(../resources/fullwidth.png);
}

.full-img__text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  font-size: 30px;
  color: #ffffff;
}

/* КОНТАКТЫ */

.contacts {
  padding: 186px 0 128px 124px;
  position: relative;
}

.contacts__title {
  margin-bottom: 32px;
  color: #121212;
}

.contacts__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 150px;
  left: 120px;
  width: 24px;
  height: 24px;
  background-image: url(../resources/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__link {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.contact__link_tel {
  text-decoration: none;
}

.contact__link_mail {
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 1px solid #121212;
  letter-spacing: -1.8px;
}

/* ФУТЕР */

.footer {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #121212;
}

.footer__links {
  display: block;
  margin-bottom: 88px;
  margin-left: 470px;
}

.footer__item {
  display: inline-block;
}

.footer__link {
  margin: 0 51px 0 0;
  letter-spacing: -0.54px;
  color: #ffffff;
}

.footer__title {
  font-size: 20px;
  line-height: normal;
  color: #ffffff;
  opacity: 0.5;
  text-transform: none;
  text-align: center;
}
