/* ОБЩАЯ ЧАСТЬ */

h1,
h2,
h3,
p,
a,
button {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.54px;
}

h3 {
  font-size: 30px;
}

.full-width-btn,
h3 {
  letter-spacing: -0.9px;
}

.about-wrapper__info {
  letter-spacing: -1.35px;
}

.main-wrapper__title {
  letter-spacing: -1.8px;
}

.we__text,
.about-wrapper__btn,
.project__more {
  letter-spacing: -0.6px;
}

/* ГЛАВНАЯ ЧАСТЬ */

.main-wrapper {
  padding: 128px 0 0 125px;
}

.main-wrapper__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.main-wrapper__we {
  width: 1150px;
  height: 500px;
  background-image: url(../resources/presentation_img.jpg);
}

.we {
  position: relative;
}

.we__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: normal;
  color: #fff;
}

/* О НАС */

.about-wrapper {
  padding: 150px 0 0 125px;
}

.about-wrapper__title {
  margin-bottom: 30px;
  color: #121212;
}

.about-wrapper__info {
  margin-bottom: 26px;
  font-size: 45px;
  line-height: normal;
  color: var(--Text, #121212);
}

.about-wrapper__btn {
  box-sizing: border-box;
  display: inline-flex;
  padding: 20px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--Accent, #ad1818);
  color: #ffffff;
  line-height: normal;
  font-size: 20px;
  cursor: pointer;
}

/* ПРОЕКТЫ */

.proj-wrapper {
  width: 1150px;
  padding: 150px 0 0 125px;
}

.proj-wrapper__title {
  margin-bottom: 30px;
  color: #121212;
}

.proj-wrapper__item {
  margin-bottom: 90px;
}

.project {
  width: 1150px;
}

.project__img {
  width: 100%;
  margin-bottom: 12px;
}

.project__name {
  margin-bottom: 15px;
  color: #121212;
}

.project__more {
  font-size: 20px;
  line-height: normal;
  color: #ad1818;
  text-decoration: none;
}

.proj-wrapper__all {
  margin-bottom: 148px;
}

.full-width-btn {
  padding: 56px 0px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--Accent, #ad1818);
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  line-height: normal;
  color: var(--Accent, #ad1818);
  text-decoration: none;
}

.full-width-btn:hover {
  background: var(--Accent, #ad1818);
  color: #fff;
}

/* УСЛУГИ */

.services-wrapper {
  padding: 151px 0 150px 125px;
  min-width: 1400px;
  background-color: #121212;
}

.services-wrapper__title {
  margin-left: 2px;
  margin-bottom: 35px;
  color: #ffffff;
}

.services-wrapper__item {
  margin-bottom: 60px;
}

.services-wrapper__item:nth-last-child(1) {
  margin-bottom: 0px;
}

.service__img {
  margin-bottom: 12px;
}

.sevice__name {
  margin-left: 4px;
  color: #ffffff;
}
